.header {
  background-color: $color-light;
  box-shadow: 0 0.8rem 2rem #0000001a;
  min-height: 4rem;
  max-height: 5rem;
  position: fixed;
  width: 100vw;
  z-index: 5;

  @media only screen and (min-width: 350px) {
    min-height: 6rem;
    max-height: 7rem;
  } 
}
.navbar__brand{
  font-size: 80px;
}